/* .about-main {
  height: 80vh;
  background-image: url("../media/scissors_blurry.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.about-blurb {
  font-size: 20px;
  width: 40vw;
  color: rgb(236, 232, 225);
  font-family: "PT Sans Caption", sans-serif;
}
.about-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 75vw;
}

.about-iframe {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.about-iframe iframe {
  border: 0;
  height: 70%;
  left: 14%;
  position: absolute;
  top: 14%;
  width: 70%;
} */
