.about-main {
  background-color: grey;
  height: 100vh;
  background-image: url("../media/scissors_blurry.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.about-blurb {
  font-size: 20px;
  color: rgb(236, 232, 225);
  font-family: "PT Sans Caption", sans-serif;
}
.about-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50vh;
  width: 75vw;
}
