.barbers-main {
  /* display: flex;
  justify-content: space-evenly; */
  background-color: rgb(49, 48, 45);
  height: 100%;
  width: 100%;
  -webkit-animation: fadein 0.5s;
}
.barber-land {
  display: flex;
  justify-content: space-evenly;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.barbers-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.juniors-image {
  width: 60%;
}
.barber-image {
  padding: 20px;
  width: 95%;
  /* width: 50%; */
}
.barbers-adj-div {
  display: flex;
  font-size: smaller;
}

.barber-text {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(148, 148, 148);
  font-family: "Ledger", serif;
  padding: 5px;
}
.set-barbers-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.829);
}
.junior-text {
  box-sizing: border-box;
  font-size: 20px;
  color: rgba(102, 96, 96, 0.63);
  height: 20vh;
  font-family: "Ledger", serif;
  padding: 5px;
  width: 75%;
}
.barber {
  width: 100%;
  margin-top: 10px;
  color: rgb(173, 147, 147);
}
.junior-pic {
  margin-top: 5%;
  color: rgba(78, 74, 74, 0.712);
}
.barber-name {
  color: rgb(63, 54, 50);
  font-family: "Ledger", serif;
}
.junior-name {
  color: rgba(71, 71, 71, 0.767);
  font-family: "Ledger", serif;
}

.set-barbers-2 {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.911);
}
.junior-pics {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
/* .barber-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
} */
.junior-working {
  width: 90%;
}
.juniors-work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.berto-div {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
}
.rich-div {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 6%;
  margin-right: 6%;
}
.emmy-div {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
}
.comments {
  margin-top: 5%;
  width: 50%;
}

.single-image {
  width: 80%;
}
.barbers-cuts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.barber-land {
  height: 80vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dqpatwz6c/image/upload/v1584594748/juniors/zzfmwglvzqnlqp1alme2.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.barbers-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;
  color: white;
  font-size: 30px;
}
.barbers-box {
  width: 75%;
  height: 60px;
  box-sizing: border-box;
  border: solid;
  color: white;
  font-size: 1.2em;
  font-family: "Ledger", serif;
}
.instagram:hover {
  color: rgb(192, 169, 142);
}
.barb-h2 {
  font-size: 1em;
  font-family: "Ledger", serif;
}
.barb-h1 {
  font-size: 2em;
  font-family: "Ledger", serif;
}
@media (max-width: 1024px) {
  .barber-land {
    height: 70vh;
  }
  .barbers-cuts {
    height: 50vh;
  }
  .barb-h1 {
    font-size: 1.6em;
  }
  .barb-h2 {
    font-size: 0.7em;
  }
  .barbers-cuts {
    height: 50vh;
  }
  .barbers-box {
    width: 40vw;
  }
  .barbers-adj-div {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .barber-image {
    padding: 0px;
    width: 50%;
  }
}
@media (max-height: 1024px) {
  .juniors-work {
    padding-bottom: 5em;
  }
  .junior-text {
    height: 26vh;
  }
}
@media (max-width: 925px) {
  .barbers-cuts {
    height: 70vh;
  }
}
@media (max-width: 820px) {
  .barbers-box {
    width: 50vw;
  }
}
@media (max-height: 375px) {
  .barbers-inner {
    margin-top: 0;
  }
  .barb-h1 {
    font-size: 0.9em;
  }
  .barber-land {
    height: 95vh;
  }
  .barbers-box {
    width: 34vw;
    font-size: 0.8em;
    height: 13vh;
  }
  .junior-text {
    height: 60vh;
  }
  .barbers-cuts {
    height: 125vh;
  }
}
@media (max-width: 768px) {
  .barber-land {
    height: 65vh;
  }
  /* .barber-image {
    padding: 0px;
    width: 50%;
  } */
  .juniors-image {
    width: 75%;
  }
  .junior-text {
    height: 30vh;
  }
}
@media (max-width: 660px) {
  .barbers-box {
    width: 56vw;
  }
}
@media (max-width: 588px) {
  .barbers-box {
    width: 60vw;
  }
}
@media (max-width: 550px) {
  .barbers-box {
    width: 70vw;
  }
}
@media (max-width: 475px) {
  .barbers-box {
    font-size: 0.9em;
    width: 70vw;
  }
}

@media (max-width: 414px) {
  .barb-h1 {
    font-size: 0.8em;
  }
  .barb-h2 {
    font-size: 0.6em;
  }
  .barbers-box {
    font-size: 0.8em;
    width: 115%;
    height: 45px;
  }
  .junior-text {
    font-size: 0.7em;
    height: 25vh;
  }
  .juniors-work {
    flex-direction: column;
  }
  .junior-working {
    width: 50%;
  }
  .barber-text {
    font-size: 0.5em;
  }
  .barber-name {
    font-size: 1.3em;
  }
  .junior-name {
    font-size: 1.4em;
  }
}
@media (max-height: 414px) {
  .barb-h1 {
    font-size: 1em;
  }
  .barbers-inner {
    margin-top: 0;
  }
  .barbers-box {
    font-size: 1em;
    width: 40vw;
  }
  .junior-text {
    height: 65vh;
  }
  .barbers-cuts {
    height: 100vh;
  }
}
@media (max-width: 411px) {
  .juniors-work {
    padding-bottom: 0.5em;
  }

  .barbers-cuts {
    height: 30vh;
  }
}
@media (max-height: 411px) {
  .barber-land {
    height: 90vh;
  }
}
@media (max-height: 375px) {
  .barber-land {
    height: 90vh;
  }
  .barbers-box {
    font-size: 0.7em;
    width: 33vw;
  }
  .junior-text {
    height: 75vh;
  }
}
@media (max-width: 375px) {
  .junior-text {
    padding: 0px;
    height: 28vh;
  }
  .barber-text {
    font-size: 0.3em;
  }
  .barber-image {
    width: 80%;
    padding: 0px;
  }
  .juniors-image {
    width: 80%;
  }
  .barbers-cuts {
    height: 30vh;
  }
  .juniors-work {
    padding-bottom: 1em;
  }
}

@media (max-width: 320px) {
  .junior-text {
    height: 30vh;
  }
}
@media (max-height: 320px) {
  .junior-name {
    font-size: 20px;
  }
  .junior-text {
    font-size: 1em;
  }
}
