.barbers-main {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: space-evenly;
  background-color: rgb(49, 48, 45);
  /* background-image: url("../media/wood.jpg");
  background-attachment: fixed;
  background-size: cover; */
  height: 100%;
}
.barber-image {
  padding: 20px;
  height: 50vh;
}
.barber-text {
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(212, 206, 206);
  height: 260px;
  width: 600px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}
.barber {
  margin-top: 10px;
  color: rgb(173, 147, 147);
  border: solid;
}
.barber-name {
  color: rgb(143, 122, 110);
}
.set-barbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
