.footer-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  background-color: rgb(226, 226, 226);
  font-family: "Ledger", serif;
}
.footer-info {
  color: rgba(70, 70, 70, 0.795);
  text-decoration: none;
  width: 15%;
}
.footer-info > a {
  color: rgba(70, 70, 70, 0.795);
  text-decoration: none;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 3em;
}
.phone {
  font-weight: 800;
  text-decoration: none;
  color: rgba(70, 70, 70, 0.795);
}
.phone:hover {
  text-decoration: underline;
  color: #aa3627d2;
}
@media (max-width: 1024px) {
  .footer-main {
    justify-content: space-evenly;
    font-size: 1em;
    height: 60vh;
  }
}
@media (max-width: 812px) and (min-height: 375px) {
  .footer-main {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .footer-main {
    height: 55vh;
    font-size: 1em;
    justify-content: baseline;
  }
}
@media (max-width: 736px) and (min-height: 414px) {
  .footer-main {
    height: 100vh;
  }
}
@media (max-width: 579px) {
  .footer-main {
    height: 66vh;
    font-size: 0.9em;
  }
}

@media (max-width: 414px) {
  .footer-main {
    flex-direction: column;
    font-size: 0.8em;
    height: 90vh;
    justify-content: center;
  }
  .footer-info {
    width: 20em;
  }
}

@media (max-width: 325px) {
  .footer-main {
    flex-direction: column;
    justify-content: normal;
    height: 100vh;
  }
  .footer-info {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .footer-main {
    height: 110vh;
  }
}
