.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 12vh;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  width: 100vw;
}
.logo {
  padding: 10px;
  width: 15vw;
  margin-left: 45px;
}
.menu-items {
  color: white;
  text-decoration: none;
}
.menu {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}
.menu-items:hover {
  color: rgb(133, 109, 94);
}
