.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  width: 100vw;
  height: 12vh;
}
.logo {
  padding: 20px;
  width: 15vw;
  margin-left: 55%;
}
.menu-items {
  color: white;
  text-decoration: none;
}
.menu {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  margin-right: 7%;
}
.menu-items:hover {
  color: rgb(133, 109, 94);
}
/* .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
}
.burger div {
  display: none;
} */
/* @media (max-width: 925px) {
  .navbar-toggle {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    right: 0px;
    height: 45vh;
    background-color: rgb(223, 223, 223);
    flex-direction: column;
    width: 40%;
    margin-top: 60px;
  }

  .hidden {
    display: none;
  }
} */
