.home-main {
}

.home-junior-div {
  display: flex;
  flex-direction: column;
  height: 120vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../media/juniorbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.76);
}
.home-logo-div {
  background-color: rgb(44, 44, 44);
  width: 100%;
}
.home-title {
  width: 50vw;
  font-size: 6em;
  font-family: -webkit-body;
}
.home-main-text {
  margin-top: 35em;
}
.home-title-sub {
  font-size: 2em;
}
.home-main-title {
  margin: 0 auto;
}
.junior-image {
  height: 100%;
}
.home-second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: white;
  height: 50vh;
  color: rgba(0, 0, 0, 0.801);
}
.home-middle-text {
  letter-spacing: 0.2em;
  padding: 5px;
  line-height: 1.8;
  width: 50vw;
  font-size: 1.2em;
}
.home-middle-text-h1 {
  letter-spacing: 0.2em;
  padding: 5px;
  line-height: 1.8;
  width: 50vw;
  font-size: 1.7em;
}
.third {
  display: flex;
  flex-direction: column;
  height: 110vh;
  background-color: black;
  color: rgba(255, 255, 255, 0.747);
}
