.home-main {
}

.home-junior-div {
  display: flex;
  flex-direction: column;
  /* height: 120%; */
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../media/juniorbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.76);
}
.home-logo-div {
  background-color: rgb(44, 44, 44);
  width: 100%;
}
.home-title {
  width: 50vw;
  font-size: 5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home-main-text {
  margin-top: 35em;
}
.home-title-sub {
  font-size: 2em;
}
.home-main-title {
  margin: 0 auto;
}
.junior-image {
  height: 100%;
}
.home-second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 50vh;
  color: rgba(0, 0, 0, 0.801);
}
.home-middle-text {
  letter-spacing: 0.2em;
  padding: 5px;
  line-height: 1.8;
  width: 50vw;
  font-size: 1.2em;
}
.home-middle-text-h1 {
  letter-spacing: 0.2em;
  padding: 5px;
  line-height: 1.8;
  width: 50vw;
  font-size: 1.7em;
}
.third {
  display: flex;
  flex-direction: column;
  /* height: 110vh; */
  background-color: black;
  color: rgba(255, 255, 255, 0.747);
}
h2 {
  font-size: 3em;
  font-family: serif;
}

.home-barbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(225, 234, 235, 0.89);
}
.junior-third {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.about-iframe {
  overflow: hidden;
  /* // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
}
.about-iframe iframe {
  border: 0;
  height: 70%;
  left: 14%;
  position: absolute;
  top: 14%;
  width: 70%;
}
