.location-main {
  -webkit-animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.location-text > h1 {
  color: rgb(226, 226, 226);
  font-size: 3em;
  font-family: "Ledger", serif;
}
.location-text > p {
  color: rgb(226, 226, 226);
  font-size: 1.4em;
  font-family: "Ledger", serif;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dqpatwz6c/image/upload/v1584590675/juniors/sv6rihwutrjyvnqeiidm.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.map-div {
  width: 100vw;
}
.info-div {
  width: 50%;
  margin-left: 5%;
}
.map-info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  height: 60vh;
  font-family: "Ledger", serif;
}
.phone-map {
  text-decoration: none;
  color: black;
}
.phone-map:hover {
  color: rgb(173, 0, 0);
}

.map-component {
  width: 50% !important;
  height: 60% !important;
  margin-left: 10%;
}
@media (max-width: 1024px) {
  .map-component {
    width: 50% !important;
    height: 40% !important;
  }

  .map {
    height: 50vh;
  }
  .map-info {
    height: 45vh;
  }
}
@media (max-width: 414px) {
  .location-text > h1 {
    font-size: 1.3em;
  }
  .location-text > p {
    font-size: 0.9em;
  }
  .location-text {
    width: 70vw;
  }
  .map-info {
    flex-direction: column-reverse;
    height: 75vh;
    margin-top: 0%;
    font-size: 0.7em;
  }
  .map-component {
    margin-left: 16%;
    width: 85% !important;
  }
  .info-div {
    width: 100%;
    margin-top: 20em;
  }
}
@media (max-height: 414px) {
  .location-text > h1 {
    font-size: 1.3em;
  }
  .location-text > p {
    font-size: 0.9em;
  }
  .location-text {
    width: 70vw;
  }
  .map {
    height: 85vh;
  }
  .info-div {
    font-size: 0.6em;
    margin-top: 0;
  }
  .map-info {
    height: 75vh;
  }
  .map-component {
    width: 50% !important;
    height: 70% !important;
  }
  .social-links {
    margin-bottom: 1em;
  }
}
@media (max-width: 411px) {
  .map-component {
    margin-left: 25%;
  }
}
@media (max-width: 375px) {
  .location-text > h1 {
    font-size: 1.3em;
  }
  .location-text > p {
    font-size: 0.9em;
  }
  .location-text {
    width: 70vw;
  }
  .map-component {
    margin-left: 20%;
  }
  .map-info {
    height: 80vh;
  }
  .info-div {
    margin-top: 10em;
    margin-left: 0;
  }
}
@media (max-height: 375px) {
  .map {
    height: 100vh;
  }
  .location-text > h1 {
    font-size: 1.3em;
  }
  .location-text > p {
    font-size: 0.9em;
  }
  .location-text {
    width: 95vh;
  }
  .info-div {
    font-size: 0.6em;
  }
  .map-info {
    height: 75vh;
  }
  .map-component {
    width: 50% !important;
    height: 73% !important;
  }
}
@media (max-width: 320px) {
  .location-text > h1 {
    font-size: 1.2em;
  }
  .location-text > p {
    font-size: 0.8em;
  }
  .map-component {
    width: 75% !important;
  }
}
