.location-main {
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.location-text > h1 {
  color: rgb(226, 226, 226);
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.location-text > p {
  color: rgb(226, 226, 226);
  font-size: 1.4em;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dqpatwz6c/image/upload/v1584590675/juniors/sv6rihwutrjyvnqeiidm.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.map-div {
  width: 100vw;
}
.info-div {
  width: 50%;
}
.map-info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  height: 60vh;
}
.phone-map {
  text-decoration: none;
  color: black;
}

.map-component {
  width: 70% !important;
  height: 70% !important;
}
