body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
.sidenav {
  float: right;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(49, 49, 49);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #999999;
  display: block;
  transition: 0.3s;
  border-bottom: solid;
  border-bottom-width: 0.5px;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(134, 134, 134);
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  right: 0px;
  border-bottom: none;
} */
